# Custom
bin/
*.[jJ][pP][eE][gG]
*.[jJ][pP][gG]
*.[pP][nN][gG]
*.[bB][mM][pP]
*.[gG][iI][fF]
*.[tT][gG][aA]

# ---> D
# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

